<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <h1>Hello! Form will have fields:</h1>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Parent's name" />
        </div>

        <div class="form-group">
            <input type="tel" class="form-control" placeholder=" Phone Number:"/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder=" Email address:"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder=" Times available: "/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder=" Zip code:"/>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder=" How many students - selector:"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder=" Student's names:"/>
        </div>
            <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>